---
permalink: 404.html
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page : {{ site.name }}</title>
    <link rel="stylesheet" href="assets/styles/style.css">
</head>
<body>
    {% include "partials/header.html" %}
    <main>
        <div class="error-page-wrap">
            <h1>404</h1>
            <h2>Oops! Page not found</h2>
        </div>
    </main>
    {% include "partials/footer.html" %}
</body>
</html>