<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} : {{ site.name }}</title>
    <link rel="stylesheet" href="assets/styles/style.css">
</head>
<body>
    {% include "partials/header.html" %}
    <main>
        <ul>
            {% for post in collections.blog %}
            <li><a href="{{ post.url }}">{{ post.data.title }}</a>
                <p>Published on {{ post.date | customDate }}</p>
                <p>About {{ post.data.description }}</p>
            </li>
            {% endfor %}
        </ul>
    </main>
    {% include "partials/footer.html" %}
</body>
</html>
